.help__wrapper {
  max-width: 1200px;
  padding: 80px 40px 100px;
  margin: auto;

  @media (max-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 42px 10px;
  }
}

.help__title {
  margin: 0;

  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 25px;
    line-height: 32.5px;
  }
}

.help__list {
  margin: 0;
  margin-top: 58px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 119px;
  row-gap: 55px;

  list-style: none;

  @media (max-width: $tablet-width) {
    width: 89%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 9.5%;
  }

  @media (max-width: $mobile-width) {
    width: 96.7%;
    margin-top: 42px;

    grid-template-columns: repeat(auto-fill, minmax(130px, auto));
    column-gap: 10%;
    row-gap: 30px;
  }
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 113px;

  @media (max-width: $tablet-width) {
    width: 170px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 87px;
  }
}

.help__item-img {
  @media (max-width: $mobile-width) {
    &--food {
      width: 40px;
    }

    &--transportation,
    &--toys,
    &--bowls,
    &--vitamins,
    &--medicines,
    &--collars {
      width: 50px;
    }

    &--shampoos {
      width: 26px;
    }

    &--areas {
      width: 47px;
    }
  }
}

.help__item-text{
  margin: 0;

  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  @media (max-width: $mobile-width) {
    font-size: 15px;
    line-height: 16.5px;
  }
}

