.pets {
  background-color: $color-light-l;
}

.pets__wrapper {
  max-width: 1200px;
  padding: 200px 40px 100px;
  margin: auto;

  @media (max-width: $tablet-width) {
    padding: 200px 30px 76px;
  }

  @media (max-width: $mobile-width) {
    min-width: 300px;
    padding: 162px 10px 42px;
  }
}

.pets__title {
  margin: 0;

  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 25px;
    line-height: 32.5px;
  }
}

.pets__cards-wrapper {
  width: 1200px;
  margin: auto;
  margin-top: 59px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 580px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pets__cards-container {
  position: relative;

  display: grid;
  grid-auto-columns: 270px;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 435px);
  column-gap: 40px;
  row-gap: 30px;
  transition: left 1s;
  left: 0;

  @media (max-width: $tablet-width) {
    grid-template-rows: repeat(3, 435px);
  }
}

.pets__pagination-wrapper {
  display: flex;
  column-gap: 20px;
  margin-top: 60px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 42px;
    column-gap: 10px;
  }
}

.pets__pagination-btn {
  width: 52px;
  height: 52px;
  padding: 0;

  background-color: transparent;
  border: 2px solid $color-dark-s;
  color: $color-dark-s;
  border-radius: 100px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-family: inherit;
  cursor: default;

  &--active {
    border-color: $color-primary;
    color: $color-gray;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &--page {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-gray;
  }
}