.footer {
  background: url("../assets/images/general/noise_transparent_background.png"), radial-gradient(100% 215.42% at 0% 0%, $start-screen-gradient-background-1 0%, $start-screen-gradient-background-2 100%);
}

.footer__wrapper {
  max-width: 1200px;
  display: flex;
  padding: 40px;
  padding-bottom: 0;
  margin: auto;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding: 30px;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 8.5%;
    row-gap: 65px;
  }

  @media (max-width: $mobile-width) {
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 40px;
  }
}

.footer__contacts,
.footer__address {
  height: 234px;
  padding-top: 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__contacts {
  width: 279px;
  
  @media (max-width: $mobile-width) {
    height: 208px;
    align-items: center;
  }
}

.footer__address {
  width: 300px;

  @media (max-width: $mobile-width) {
    height: 222px;
  }
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: $color-light-xl;

  @media (max-width: $mobile-width) {
    width: 98%;
    margin-left: auto;
    margin-right: auto;

    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }
}

.footer__link {
  min-height: 32px;
  display: flex;
  align-items: center;
  padding-left: 42px;
  position: relative;

  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: $color-primary;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 32px;
    background-image: url("../assets/images/index/pin.png");
    left: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}

.footer__link--email {
  padding-left: 60px;

  &::before {
    width: 40px;
    height: 26px;
    background-image: url("../assets/images/index/mail.png");
  }
}

.footer__link--phone {
  padding-left: 60px;

  &::before {
    width: 40px;
    height: 32px;
    background-image: url("../assets/images/index/phone.png");
  }
}

.footer__img {
  @media (max-width: $tablet-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (max-width: $mobile-width) {
    width: 260px;
    height: auto;
  }
}