.header {
  min-width: 320px;
  position: absolute;
  left: 0;
  right: 0;

  &--our-friends {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    background-color: $color-light-xl;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1200px;
  padding: 60px 40px;
  margin: auto;

  &--our-friends {
    padding: 30px 40px;
  }

  @media (max-width: $tablet-width) {
    padding: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 10px;
  }
}

.header__logo {
  text-decoration: none;
}

.header__title {
  margin: 0;

  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: $color-primary;

  &--our-friends {
    color: $color-dark-l;
  }
}

.header__subtitle {
  margin: 0;
  margin-top: 10px;

  font-size: 13px;
  font-family: $arial-font;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: $color-light-xl;
  text-align: center;

  &--our-friends {
    color: $color-dark-3xl;
  }
}

.header__toggle {
  display: none;
  background-color: transparent;
  border: none;
  margin-right: 42px;
  margin-left: 42px;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  transition: transform 0.5s;
  z-index: 1;

  @media (max-width: $mobile-width) {
    display: flex;
    &--mobile-open {
      transform: rotate(90deg);
    }
  }
}

.header__nav {
  @media (max-width: $mobile-width) {
    position: fixed;
    top: 0;
    right: -320px;

    width: 320px;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    background-color: $color-dark-3xl;
    transition: right 0.5s;

    &--our-friends {
      background-color: $color-light-xl;
    }
  }
}

.header__nav--mobile-open {
  @media (max-width: $mobile-width) {
    right: 0;
  }
}

.header__nav-logo {
  display: none;
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 36px;

  @media (max-width: $mobile-width) {
    align-self: center;
    margin: auto 0;

    flex-direction: column;
    row-gap: 41px;
    align-items: center;
  }
}

.header__nav-link {
  font-family: $arial-font;
  color: $color-dark-s;

  text-decoration: none;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 51px;
  }

  &:hover {
    color: $color-light-s;
  }

  &--current {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
    padding-bottom: 3px;

    @media (max-width: $mobile-width) {
      padding-bottom: 8px;
    }
  }

  &--our-friends {
    color: $color-dark-l;
  }

  &--our-friends:hover {
    color: $color-dark-3xl;
  }

  &--our-friends-current {
    color: $color-dark-3xl;
    border-bottom: 3px solid $color-primary;
    padding-bottom: 3px;
  }
}