// colors
$color-black: #000000;
$color-dark-l: #545454;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-gray: #292929;

$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;

$start-screen-gradient-background-1: #5B483A;
$start-screen-gradient-background-2: #262425;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;


// fonts
$arial-font: "Arial", "Trebuchet MS", sans-serif;


// media
$tablet-width: 1279px;
$mobile-width: 767px;